.card {
  background-color: rgb(182, 232, 244);
  width: 300px;
  padding-left: 10px;
  margin-top: 5px;
  border-radius: 10px;
  cursor: pointer;
}


.card:hover{
  background-color: rgb(72, 211, 246);
  transition: 0.25s;
}

.nothing {
  background-color: rgba(178, 186, 188, 0.389);
  color: gray;
  cursor: default;
}

.nothing:hover{
  background-color: rgba(178, 186, 188, 0.389);
}